* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: Josefin Sans;
}

body {
  --clr-snake: #d6efff;
  --clr-apple: #ffb1aa;
  --clr-score: rgba(255, 255, 255, 0.2);
  --clr-main-bg: #249472;
  --clr-bounds-bg: #1d7b5b;
  --clr-btn-prim-fg: #ffffff;
  --clr-btn-prim-bg: #249472;
  --clr-btn-scnd-fg: #249472;
  --clr-btn-scnd-bg: #e8e8e8;
  --clr-text-body: #000000;
  --clr-text-accent: #249472;
  --clr-text-soft: #454545;
  --clr-text-watermark: rgba(0, 0, 0, 0.04);
  --clr-modal-bg: #ffffff;
  --bdr-modal: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--clr-main-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: var(--clr-text-accent);
  margin-bottom: 32px;
}

.score {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 30%;
  font-size: 500px;
  z-index: -1;
  color: white;
}

.block {
  position: absolute;
  border-radius: 100%;
}

.snake-block {
  background: white;
  z-index: 1;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
  will-change: transform;
}

.apple {
  background: var(--clr-apple);
  -webkit-animation: apple-appear 500ms forwards cubic-bezier(0, 1.65, 1, 1.65);
          animation: apple-appear 500ms forwards cubic-bezier(0, 1.65, 1, 1.65);
}

.apple-disappear {
  -webkit-animation: apple-disappear 100ms;
          animation: apple-disappear 100ms;
}

.gameboard {
  border: white 2px solid;
  position: relative;
  margin: auto;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 700px;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  color: var(--clr-text-body);
  border-radius: 20px;
  font-size: 32px;
  padding: 32px;
}

.modal--win, .modal--lose {
  display: none;
}

.modal .setting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .setting-wrapper--horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.modal range-slider {
  --track-height: 4px;
  width: 100%;
  margin: 0 16px 0 0;
}

.modal range-slider:focus .thumb {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal range-slider:focus::before {
  border: 1px solid var(--clr-text-accent);
}

.modal range-slider::before {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-text-accent)), to(var(--clr-text-accent))) 0/var(--value-percent, 0) 100% no-repeat var(--clr-btn-scnd-bg);
  background: linear-gradient(var(--clr-text-accent), var(--clr-text-accent)) 0/var(--value-percent, 0) 100% no-repeat var(--clr-btn-scnd-bg);
}

.modal range-slider .thumb {
  background: var(--clr-text-accent);
}

.modal label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: normal;
  font-size: 18px;
}

.modal__buttons {
  position: absolute;
  bottom: 32px;
  left: 32px;
  right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: inherit;
}

input {
  background: var(--clr-btn-scnd-bg);
  border: none;
  padding: 6px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

input[type="number"] {
  width: 80px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
}

.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 16px;
}

.button .material-icons {
  font-size: inherit;
  margin-right: 8px;
}

.button--prim {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--clr-btn-prim-fg);
  background: var(--clr-btn-prim-bg);
  margin-right: 16px;
}

.button--scnd {
  color: var(--clr-btn-scnd-fg);
  background: var(--clr-btn-scnd-bg);
}

.button--scnd .material-icons {
  margin-right: 0;
}

@-webkit-keyframes apple-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes apple-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes apple-disappear {
  from {
  }
  to {
  }
}

@keyframes apple-disappear {
  from {
  }
  to {
  }
}
/*# sourceMappingURL=main.css.map */