* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Josefin Sans;
}

body {
    --clr-snake: #d6efff;
    --clr-apple: #ffb1aa;
    --clr-score: rgba(255, 255, 255, 0.2);
    --clr-main-bg: #249472;
    --clr-bounds-bg: #1d7b5b;
    --clr-btn-prim-fg: #ffffff;
    --clr-btn-prim-bg: #249472;
    --clr-btn-scnd-fg: #249472;
    --clr-btn-scnd-bg: #e8e8e8;
    --clr-text-body: #000000;
    --clr-text-accent: #249472;
    --clr-text-soft: #454545;
    --clr-text-watermark: rgba(0, 0, 0, 0.04);
    --clr-modal-bg: #ffffff;
    --bdr-modal: none;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--clr-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    color: var(--clr-text-accent);
    margin-bottom: 32px;
}

.score {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
    font-size: 500px;
    z-index: -1;
    color: white;
}

.block {
    position: absolute;
    border-radius: 100%;
}

.snake-block {
    background: white;
    z-index: 1;
    transition: transform 100ms;
    will-change: transform;
}

.apple {
    background: var(--clr-apple);
    animation: apple-appear 500ms forwards cubic-bezier(0, 1.65, 1, 1.65);
}

.apple-disappear {
    animation: apple-disappear 100ms;
}

.gameboard {
    border: white 2px solid;
    position: relative;
    margin: auto;
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 700px;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: white;
    color: var(--clr-text-body);
    border-radius: 20px;
    font-size: 32px;
    padding: 32px;
    &--win,
    &--lose {
        display: none;
    }
    .setting-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &--horizontal {
            flex-direction: row;
        }
        input[type="text"],
        select {
            margin-top: 8px;
        }
    }
    .input-wrapper {
        display: flex;
        align-items: center;
    }
    range-slider {
        --track-height: 4px;
        width: 100%;
        margin: 0 16px 0 0;
        &:focus {
            .thumb {
                box-shadow: none;
            }
            &::before {
                border: 1px solid var(--clr-text-accent);
            }
        }
        &::before {
            background: linear-gradient(var(--clr-text-accent), var(--clr-text-accent)) 0 / var(--value-percent, 0) 100% no-repeat var(--clr-btn-scnd-bg);
        }
        .thumb {
            background: var(--clr-text-accent);
        }
    }
    label {
        flex-grow: 1;
        font-weight: normal;
        font-size: 18px;
    }
    &__buttons {
        position: absolute;
        bottom: 32px;
        left: 32px;
        right: 32px;
        display: flex;
    }
}

a {
    color: inherit;
}

input,
select {
    background: var(--clr-btn-scnd-bg);
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    &[type="number"] {
        width: 80px;
        text-align: center;
    }
    &[type="text"] {
        width: 100%;
    }
}

.switch {
    position: relative;
    width: 48px;
    height: 24px;
    input {
        position: absolute;
        opacity: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1;
        &:focus ~ .switch__shape {
            border: 1px solid var(--clr-text-accent);
        }
    }
    &__shape {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background: var(--clr-btn-scnd-bg);
        border-radius: 1000px;
        transition: all 200ms;
        &::before {
            position: absolute;
            top: 4px;
            left: 4px;
            content: "";
            width: 16px;
            height: 16px;
            background: var(--clr-text-accent);
            border-radius: 1000px;
            transition: all 200ms;
        }
    }
    input:checked {
        & ~ .switch__shape {
            background: var(--clr-text-accent);
            &::before {
                background: var(--clr-modal-bg);
                transform: translateX(24px);
            }
        }
    }
}

.button {
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px;

    .material-icons {
        font-size: inherit;
        margin-right: 8px;
    }

    &--prim {
        flex-grow: 1;
        color: var(--clr-btn-prim-fg);
        background: var(--clr-btn-prim-bg);
        margin-right: 16px;
    }
    &--scnd {
        color: var(--clr-btn-scnd-fg);
        background: var(--clr-btn-scnd-bg);
        .material-icons {
            margin-right: 0;
        }
    }
}

@keyframes apple-appear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes apple-disappear {
    from {
    }
    to {
    }
}
