$clr-green: #2cb65b;
$clr-yellow: #f6b946;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Josefin Sans;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: $clr-green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
    font-size: 500px;
    z-index: -1;
    color: white;
}

.block {
    width: 50px;
    height: 50px;
    position: absolute;
    /*transform: translate(-50%, -50%);*/
    border-radius: 100%;
}

.snake-block {
    background: white;
    z-index: 10000;
    transition: left 100ms, top 100ms;
}

.apple {
    background: $clr-yellow;
    animation: apple-appear 500ms forwards cubic-bezier(0, 1.65, 1, 1.65);
}

.apple-disappear {
    animation: apple-disappear 100ms;
}

.gameboard {
    border: white 2px solid;
    position: relative;
    margin: auto;
}

.ULOST {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: red;
    border: 20px white dotted;
    display: none;
    z-index: 20000;
}

@keyframes apple-appear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes apple-disappear {
    from {
    }
    to {
    }
}
